{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid gtco-feature" id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="cover">
                        <div class="card">
                            <svg
                                    class="back-bg"
                                    width="100%" viewBox="0 0 900 700" style="position:absolute; z-index: -1">
                                <defs>
                                    <linearGradient id="PSgrad_01" x1="64.279%" x2="0%" y1="76.604%" y2="0%">
                                        <stop offset="0%" stop-color="rgb(1,230,248)" stop-opacity="1"/>
                                        <stop offset="100%" stop-color="rgb(29,62,222)" stop-opacity="1"/>
                                    </linearGradient>
                                </defs>
                                <path fill-rule="evenodd" opacity="0.102" fill="url(#PSgrad_02)"
                                      d="M801.878,3.146 L116.381,128.537 C26.052,145.060 -21.235,229.535 9.856,312.073 L159.806,710.157 C184.515,775.753 264.901,810.334 338.020,792.380 L907.021,652.668 C972.912,636.489 1019.383,573.766 1011.301,510.470 L962.013,124.412 C951.950,45.594 881.254,-11.373 801.878,3.146 Z"/>
                            </svg>
                            <!-- *************-->

                            <svg width="100%" viewBox="0 0 700 500">
                                <clipPath id="clip-path">
                                    <path d="M89.479,0.180 L512.635,25.932 C568.395,29.326 603.115,76.927 590.357,129.078 L528.827,380.603 C518.688,422.048 472.661,448.814 427.190,443.300 L73.350,400.391 C32.374,395.422 -0.267,360.907 -0.002,322.064 L1.609,85.154 C1.938,36.786 40.481,-2.801 89.479,0.180 Z"></path>
                                </clipPath>
                                <!-- xlink:href for modern browsers, src for IE8- -->
                                <image clip-path="url(#clip-path)" xlink:href="{{ asset('images/learn-img.jpg') }}"
                                       width="100%"
                                       height="465" class="svg__image"></image>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="container-fluid">
                        <h2> Bienvenidos: </h2>
                        <p class="text-dark"> Para iniciar a invertir, déjanos conocer tu perfil de inversión mediante
                            los siguientes
                            juegos. <br>

                            <a href="{{ path('gameindex_game') }}">Ingresar <i class="fa fa-angle-right"
                                                                               aria-hidden="true"></i></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('gamenew_game') }}">Nuevo Juego <i
                                            class="fa fa-refresh"
                                            aria-hidden="true"></i></a>
                            {% endif %}
                        </p>
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                        <div class="container-fluid">
                            <h2> Para los administradores: </h2>
                            <p> Puedes ingresar a la nueva sección de reportes. <br>

                                <a href="{{ path('adminindex') }}">Ingresar <i class="fa fa-angle-right"
                                                                               aria-hidden="true"></i></a>
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
