{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        <em>{{ form_row(registrationForm.agreeTerms) }}</em>
        <button type="submit" class="btn btn-primary">Register</button><br>
        <span class="border">Ya esta registrado?, ingrese al<a href="{{ path('login') }}" class="btn btn-link">login</a></span>
    {{ form_end(registrationForm) }}
{% endblock %}
