{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Resetea tu contraseña</h1>

    {{ form_start(requestForm) }}
    {{ form_row(requestForm.email) }}
    <div class="text-black mb-5">
        Ingrese el correo electrónico con el que se registró para obtener un link y poder resetear la contraseña.
    </div>

    <button class="btn btn-primary">Enviar reseteo de cuenta</button>
    {{ form_end(requestForm) }}
{% endblock %}
