{% extends 'base.html.twig' %}

{% block title %}SurveyAnswer index{% endblock %}

{% block body %}
    <h1>SurveyAnswer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for survey_answer in survey_answers %}
            <tr>
                <td>{{ survey_answer.id }}</td>
                <td>{{ survey_answer.createdAt ? survey_answer.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ survey_answer.updatedAt ? survey_answer.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('survey_answer_show', {'id': survey_answer.id}) }}">show</a>
                    <a href="{{ path('survey_answer_edit', {'id': survey_answer.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('survey_answer_new') }}">Create new</a>
{% endblock %}
