{% extends 'base.html.twig' %}

{% block title %}New SurveyAnswer{% endblock %}
{% form_theme form _self %}
{% block body %}
<div class="container">
    <div class="row mb-5">
        <h1>Evaluación de conocimiento</h1>
        <div class="col-lg-12" id="contact">
        {{ include('survey_answer/_form.html.twig') }}
        </div>
        {#<a href="{{ path('survey_answer_index') }}">back to list</a>#}
    </div>
</div>
{% endblock %}

{% block _survey_SurveyQuestionDetail_widget %}
    <div {{ block('widget_container_attributes') }}>
        {% for name, choices in form.vars.choices %}
            <hr>
            <div class="mb-3 row">
                <input type="hidden" name="{{ name }}" value="1"/>{{ name }}
                {% for key,choice in choices %}
                    <div class="col-12">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="radio" name="{{ name }}" value="{{ form[key].vars.value }}" id="{{ key }}" {{ form[key].vars.required ?'required':'' }}>
                            <label class="form-check-label" for="{{ key }}">
                                {{ form[key].vars.label }}
                            </label>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
